{% extends 'base2.html' %}
{% load crispy_forms_tags %}

{% load static %}

    {% block title %}CleanTransport | home {% endblock %}
    {% block css %}
      <style >
      	.col-md-4{
	position: absolute;
	top: 100px;
	left:30%;
	width: 35%;
	background-color: white;
	padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
	padding-top: 0px;
	border-radius:10px;
}


      </style> 
    {% endblock %}  
{% block content %}	
<div class="row">
<div class="col-md-4">
        <div class="page-header" style="padding: -10px;">
        	<h2>Create account </h2>
        </div>	
					<form method="POST">
						{% csrf_token %}
						{{register_form|crispy}}
						
<button type="submit" class="btn btn-warning">submit</button>
					</form>
				
	</div>
</div>

{% endblock content%}